@charset "UTF-8";

.img-fluid.player-image {
	max-height: 400px !important;
    max-width: 350px !important; /* Adjust the size as needed */
    align-items: center; /* Vertical center alignment */
}

/* Add a light gray background to the player containers */
.player-container {
    background-color: #ffffff; /* Use the desired shade of gray */
    border-radius: 5px; /* Add rounded corners for aesthetics */
}

.not-found-text {
	font-size: 24px; 
}

body {
    background-color: #f5f5f5 !important;
}